@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source "../../../../resources/views/filament/app/**/*.blade.php";
@source "../../../../resources/views/components/**/*.blade.php";

/*
 * InfraHub Tenant App Panel Theme
 */